<div class="layout-container">

  <!-- Image Section -->
  <div class="hero-section" @fadeIn>
    <div class="hero-content">
      <h1>Hi, I'm Chakravenu Gandham</h1>
      <p>
        A versatile Software Developer and Data Engineer with 5 years of experience building data-driven solutions that
        drive business growth and operational efficiency.
      </p>
      <p>
        Let's explore my journey, projects, and the technologies I specialize in, from Angular and Python to AWS and
        Power BI.
      </p>
    </div>
  </div>
</div>