/* Global Layout */
.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

main {
    flex: 1;
    margin-top: 64px;
    margin-bottom: 64px;
    overflow-y: auto;
}


.brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: url('../assets/suite_pic.jpeg') center/cover no-repeat;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.spacer {
    flex: 1;
    /* Push navigation to the right */
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo {
        height: 40px;
        width: 40px;
    }

    .brand-name {
        font-size: 1.2rem;
    }
}

//footer
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: #fff;

    .footer-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span {
        font-size: 0.9rem;
    }

    .social-icons {
        display: flex;
        gap: 15px;
    }

    .icon-link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #ffffff;
        background-color: #0078d4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: transform 0.3s, background-color 0.3s;

        &:hover {
            transform: scale(1.2);
            background-color: #0056a4;
        }
    }

    mat-icon {
        font-size: 1.4rem;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .footer-toolbar {
            flex-direction: column;
            text-align: center;
        }

        .social-icons {
            margin-top: 10px;
        }

        .icon-link {
            width: 4opx;
            height: 40px;
        }

        span {
            font-size: 0.8rem;
        }
    }
}