<div class="layout-container">

    <!-- Fixed Header -->

    <header>
        <mat-toolbar color="primary">
            <div class="brand">
                <div class="logo"></div>
                <span>My Portfolio</span>
            </div>
            <span class="spacer"></span>
            <nav>
                <a mat-button routerLink="/">Home</a>
                <a mat-button routerLink="/about">About</a>
                <a mat-button routerLink="/projects">Projects</a>
                <a mat-button routerLink="/resume">Resume</a>
            </nav>
        </mat-toolbar>
    </header>

    <!-- Main Content -->
    <main>
        <router-outlet></router-outlet>
    </main>

    <!-- Fixed Footer -->

    <footer>
        <mat-toolbar color="accent" class="footer-toolbar">
            <span>&copy; {{ currentYear }} My Portfolio. All rights reserved.</span>
            <div class="social-icons">
                <a href="mailto:gchakraven@gmail.com" target="_blank" class="icon-link">
                    <mat-icon>email</mat-icon>
                </a>
                <a href="https://www.linkedin.com/in/chakravenu-gandham-706590129/" target="_blank" class="icon-link">
                    <mat-icon fontSet="mdi" fontIcon="mdi-linkedin"></mat-icon>
                </a>
                <a href="https://github.com/Chakravenu" target="_blank" class="icon-link">
                    <mat-icon fontSet="mdi" fontIcon="mdi-github"></mat-icon>
                </a>
                <a href="https://www.google.com/maps?q=Trier,+Germany" target="_blank" class="icon-link">
                    <mat-icon>location_on</mat-icon>
                </a>
            </div>
        </mat-toolbar>
    </footer>

</div>